<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display Task</title>
</head>
<body>
<p>{{task.title}}</p>
<p>{{task.detail}}</p>
<p>{{task.status}}</p>
<p>{{task.start_at}}</p>
<p>{{task.finish_at}}</p>
<p>{{task.assigner}}</p>
{% for file in documents %}
<a href="{{ file.url }}">{{file}}</a>
{% endfor %}
</body>
</html>